#email=jayakrishna052@gmail.com
#always-auth=true
#_auth=YWRtaW46YWRtaW4xMjM=
#registry.npmjs.org/:_auth=YWRtaW46YWRtaW4xMjM=
#allowRepublish=true
#//3.111.196.253:9494/Jayakrishna/repository/nodejs-project/:_authToken=${NPM_TOKEN}
#email=jayakrishna052@gmail.com
#always-auth=true
//3.111.196.253:9494/Jayakrishna/repository/nodejs-project/:_auth=<base64_encoded(admin:admin123)>
email=jayakrishna052@gmail.com
always-auth=true
